---
import Arrow from "@assets/icons/ArrowRight.astro";
import type { CollectionEntry } from "astro:content";
import BlogCover from "./BlogCover.astro";
import TagsContainer from "./TagsContainer.astro";

interface Props {
  blog: CollectionEntry<"blogs">;
  displayCardImage: boolean;
  getReadTime: () => Promise<string>;
}

const { blog, getReadTime, displayCardImage } = Astro.props;
---

<div
  class="group relative flex-[30%] lg:flex-[40%] md:flex-[100%] my-0 flex flex-col flex-grow-0 sm:items-start items-start gap-2 animate-fade-left rounded-2xl cursor-pointer w-full dark:bg-black-60 bg-white-10 border-2 dark:border-white-10 border-black-10 hover:border-black-40 dark:hover:border-white-40 dark:hover:brightness-50 transition-all"
>
  <a
    href={`/blogs/${blog.slug}`}
    class="group-hover:flex blog-card-link absolute z-10 right-0 top-0 text-black-100 dark:text-white-100 font-panchang text-2xl lg:text-xl hidden w-full h-full items-center wider justify-center uppercase font-bold animate-rotate-x animate-infinite animate-duration-[2000ms] animate-delay-150"
  >
    Read now <span class="ml-4"><Arrow /></span>
  </a>
  <div class="w-full h-full group-hover:blur-sm group-hover:opacity-20">
    {
      displayCardImage && (
        <BlogCover
          title={blog.data.title}
          src={blog.data.image?.src}
          alt={blog.data.image?.alt}
          marginBottom="mb-0"
        />
      )
    }
    <div class="p-4">
      <h1
        class="font-clash font-medium lowercase 2xl-min:text-3xl text-4xl xl:text-3xl md:text-lg dark:text-white-100 text-black-100 my-2 line-clamp-2 2xl-min:h-24 2xl:h-24 sm:h-16"
      >
        {blog.data.title}
      </h1>
      <TagsContainer
        category={blog.data.category}
        subCategories={blog.data.subCategories}
        showWholeContainer={false}
      />
      <div class="flex gap-2 mt-4 justify-between w-full">
        <small
          class="font-clash font-light text-xs dark:text-white-100 text-black-100 uppercase"
        >
          {blog.data.publishDate.cardDate}
        </small>
        <small
          class="font-clash font-light uppercase text-xs dark:text-white-100 text-black-100"
        >
          {getReadTime()}
        </small>
      </div>
    </div>
  </div>
</div>
