---
import {
  defaultImageMetaData,
  defaultKeywords,
} from "@scripts/utils/constants";
import { imageBaseURL, joinKeywordsArrToString } from "@scripts/utils/methods";

interface Props {
  title?: string;
  description?: string;
  image: {
    src: string;
    alt: string | undefined;
    share: string;
    shareDark: string;
  };
  keywords?: string[];
  author?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const baseURL = new URL(Astro.url);

const {
  title = "Zedan Saheer - Software Engineer, Thinker and Creator",
  description = "Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code.",
  image = defaultImageMetaData,
  keywords = defaultKeywords!,
  author = "Zedan Saheer",
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" initial-scale="1" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Website share banner -->
<link
  rel="image_src"
  href={image.share}
  media="(prefers-color-scheme: light)"
/>
<link
  rel="image_src"
  href={image.shareDark}
  media="(prefers-color-scheme: dark)"
/>
<link rel="shortcut icon" href="#" />

<!-- Favicon Light Mode -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("public", "favicon_dark/apple-touch-icon.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("public", "favicon_dark/favicon-32x32.png")}
/>
<link
  rel="icon"
  type="image/x-icon"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("public", "favicon_dark/favicon.ico")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("public", "favicon_dark/favicon-16x16.png")}
/>
<link
  rel="shortcut icon"
  type="image/png"
  sizes="32x32"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("public", "favicon_dark/favicon-32x32.png")}
/>
<link
  rel="shortcut icon"
  type="image/png"
  sizes="16x16"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("public", "favicon_dark/favicon-16x16.png")}
/>
<link
  rel="manifest"
  media="(prefers-color-scheme: light)"
  href="/favicon_dark/site.webmanifest"
/>

<!-- Favicon Dark Mode -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("public", "favicon_light/apple-touch-icon.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("public", "favicon_light/favicon-32x32.png")}
/>
<link
  rel="icon"
  type="image/x-icon"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("public", "favicon_light/favicon.ico")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("public", "favicon_light/favicon-16x16.png")}
/>
<link
  rel="shortcut icon"
  type="image/png"
  sizes="32x32"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("public", "favicon_light/favicon-32x32.png")}
/>
<link
  rel="shortcut icon"
  type="image/png"
  sizes="16x16"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("public", "favicon_light/favicon-16x16.png")}
/>
<link
  rel="manifest"
  media="(prefers-color-scheme: dark)"
  href="/favicon_dark/site.webmanifest"
/>

<!-- Loading External fonts -->
<link
  href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=ranade@700,300,2,701,401,101,100,400,1,500,501,301&f[]=panchang@200,500,1,700,300,400,800,600&display=swap"
  rel="stylesheet"
/>

<!-- SEO related queries -->
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta name="keyword" content={joinKeywordsArrToString(keywords)} />

<!-- Meta tags for other social media -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />
<meta property="og:url" content={baseURL} />
<meta property="og:image" content={image.src} />
<meta property="og:image:alt" content={image?.alt} />

<!-- Meta Tags for Twitter  -->
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image.src} />
<meta name="twitter:creator" content="@zedansaheer" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Animate On Scroll CDN -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- RSS Feed Auto Discovery -->
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS Feed for zedansaheer.com"
  href="/rss.xml"
/>

<title>{title}</title>
