---
import BlogCover from "@components/blogs/BlogCover.astro";
import Footer from "@components/core/Footer.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { defaultImageMetaData } from "@scripts/utils/constants";
import { generateImageBaseURL, imageBaseURL } from "@scripts/utils/methods";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const vaultPosts = await getCollection("vault");

  return vaultPosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<"vault">;
}

const { post } = Astro.props;
let { image, title, author, publishDate } = await post.data;

const { Content } = await post.render();
const imageRelativePath = generateImageBaseURL(image?.src.src);
const imageMetaData = imageBaseURL("src", imageRelativePath!);

// Sets image to default banner if the post does not contain cover
const setImage =
  image === undefined
    ? defaultImageMetaData
    : {
        alt: image?.alt,
        src: imageMetaData,
        share: imageMetaData,
        shareDark: imageMetaData,
      };
---

<MainLayout
  metaData={{
    title,
    author,
    image: setImage,
  }}
>
  <div class="flex justify-center items-center md:px-6 pb-10">
    <article
      class="prose prose-pitchblack dark:prose-invert prose-xl lg:prose-lg md:prose-md sm:prose-sm prose-headings:font-clash prose-p:font-ranade prose-p:font-extralight prose-p:first-letter:capitalize prose-li:font-ranade prose-headings:gradient-text hover:prose-a:text-white-100 prose-img:aspect-video prose-img:w-full prose-img:rounded-2xl w-full"
    >
      <BlogCover alt={image?.alt} src={image?.src} title={title} />
      <div class="flex w-full justify-between items-center">
        <h4 class="not-prose my-8 uppercase font-bold text-sm md:text-xs">
          {publishDate.blogDate}
        </h4>
        <h4 class="not-prose my-8 uppercase font-bold text-sm md:text-xs">
          {author}
        </h4>
      </div>
      <Content />
    </article>
  </div>
  <Footer />
</MainLayout>
