---
import BlogCover from "@components/blogs/BlogCover.astro";
import Footer from "@components/core/Footer.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { defaultImageMetaData } from "@scripts/utils/constants";
import { generateImageBaseURL, imageBaseURL } from "@scripts/utils/methods";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const vaultPosts = await getCollection("vault");

  return vaultPosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<"vault">;
}

const { post } = Astro.props;
let { image, title, author, publishDate } = await post.data;

const { Content } = await post.render();
const imageRelativePath = generateImageBaseURL(image?.src.src);
const imageMetaData = imageBaseURL("src", imageRelativePath!);

// Sets image to default banner if the post does not contain cover
const setImage =
  image === undefined
    ? defaultImageMetaData
    : {
        alt: image?.alt,
        src: imageMetaData,
        share: imageMetaData,
        shareDark: imageMetaData,
      };
---

<MainLayout
  metaData={{
    title,
    author,
    image: setImage,
  }}
>
  <div class="flex justify-center items-center md:px-6 pb-10">
    <article
      class="prose prose-pitchblack dark:prose-invert prose-xl lg:prose-lg md:prose-md sm:prose-sm prose-headings:font-clash prose-p:font-ranade prose-p:font-extralight prose-p:first-letter:capitalize prose-li:font-ranade prose-headings:gradient-text hover:prose-a:text-white-100 prose-img:aspect-video prose-img:w-full prose-img:rounded-2xl w-full"
    >
      <BlogCover alt={image?.alt} src={image?.src} title={title} />
      <div class="flex w-full justify-between items-center">
        <h4 class="not-prose my-8 uppercase font-bold text-sm md:text-xs">
          {publishDate.blogDate}
        </h4>
        <h4 class="not-prose my-8 uppercase font-bold text-sm md:text-xs">
          {author}
        </h4>
      </div>
      <Content />
    </article>
  </div>
  <Footer />
</MainLayout>
<script>
  let bodyContent = document.body.innerHTML;

  document.body.innerHTML =
    "<div class='w-screen h-[60vh] flex flex-col gap-4 justify-center items-center text-center text-white-100 animate-fade font-panchang'><h1>This route is password protected</h1> <input type='password' name='password' id='password' class='animate-fade rounded px-4 py-2 text-purple-600 border border-white-80 bg-purple-200 sm:w-2/3'><h3 id='error' class='my-4 font-clash font-semibold text-red-800 text-sm animate-pulse'></h3><button id='submit' class='animate-fade font-clash text-[12px] font-semibold hover:bg-purple-600 capitalize text-purple-200 bg-purple-800 p-2 rounded-xl'>Verify access</button></div>";

  let password = document.getElementById("password") as HTMLInputElement;
  let submit = document.getElementById("submit") as HTMLInputElement;
  let error = document.getElementById("error");

  submit?.addEventListener("click", () => {
    let value = password!.value;

    if (value === "#52218102") {
      document.body.innerHTML = bodyContent;
    } else {
      if (value.length < 1) {
        error!.innerText = "Please enter an access code";
      } else {
        error!.innerText = "Incorrect access code";
      }
    }
  });
</script>
