---
import ArrowLink from "@src/assets/icons/ArrowLink.astro";
import BlogCover from "@src/components/blogs/BlogCover.astro";
import MainLayout from "@src/layouts/MainLayout.astro";
import { defaultMetaData } from "@src/scripts/utils/constants";
import { getCollection, type CollectionEntry } from "astro:content";

const vaultCollection: CollectionEntry<"vault">[] =
  await getCollection("vault");
---

<MainLayout metaData={defaultMetaData} bodyStyle="index">
  <section
    class="absolute top-24 sm:top-36 w-full h-screen sm:h-[120vh] gap-14 flex px-10 flex-col justify-center items-center pb-24"
  >
    <div
      class="flex flex-col gap-10 sm:gap-4 justify-center relative items-center"
    >
      <h1
        class="text-white-100 uppercase font-panchang text-center text-6xl sm:text-4xl font-normal animate-fade-up"
      >
        vault
      </h1>
      <p
        class="text-transparent bg-clip-text bg-gradient-to-r from-purple-200 to-purple-600 font-clash lowercase font-semibold text-4xl sm:text-sm w-1/2 sm:w-full animate-fade-right"
      >
        The orchids of lavender that gave rise to the supreme fragrance of
        purples, It represent purity, silence, devotion, serenity, grace, and
        calmness.
      </p>
    </div>
    <div class="w-2/3 flex sm:flex-col gap-6">
      {
        vaultCollection.map((post) => {
          return (
            <div class="flex-[30%] lg:flex-[40%] md:flex-[100%] rounded-2xl bg-gradient-to-r from-purple-400 to-purple-900 p-0.5 group">
              <a href={`/vault/sweet-purple/${post.slug}`}>
                <div class="w-full h-full dark:bg-black-100 bg-white-100 rounded-2xl overflow-hidden">
                  <div class="aspect-video">
                    <BlogCover
                      title={post.data.title}
                      src={post.data.image?.src}
                      alt={post.data.image?.alt}
                      marginBottom="mb-0"
                    />
                  </div>
                  <h1 class="flex justify-center items-center p-2 text-center font-clash font-medium capitalize 2xl-min:text-3xl text-4xl xl:text-3xl md:text-lg dark:text-white-100 text-black-100 my-2 line-clamp-2 2xl-min:h-24 2xl:h-24 sm:h-16">
                    {post.data.title}
                  </h1>
                  <h3 class="font-ranade text-purple-400 group-hover:text-purple-600 text-center flex items-center justify-center gap-2 uppercase text-[10px] p-2">
                    Read now <ArrowLink />
                  </h3>
                </div>
              </a>
            </div>
          );
        })
      }
    </div>
  </section>
</MainLayout>
